.timer.row {
    padding: 64px 8px;
}

.donut-chart {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 280px;
    position: relative;

    svg {
        position: absolute;
        z-index: -1;
    }
}

.row {
    display: flex;
    margin-top: 32px;

    .col {
        flex: 1 1 0;
        margin: 0 32px;
        text-align: left;
    }
}

.notifications-not-permitted {
    display: flex;
    flex-direction: column;
    background: rgba(255,255,255,0.1);
    margin: 8px 0 8px 32px;
    padding: 16px 32px;
    border-radius: 4px;

    button {
        margin-top: 8px;
        align-self: flex-end;
    }
}

.timer-status {

    .count-down {
        text-align: center;
        font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
        font-size: 24px;
    }

    button {
        margin-top: 8px;
    }

}

.sound-selector {
    margin-left: 34px;
    margin-top: 8px;
}